/* styles/Navbar.module.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9e3f00;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    flex: 1;
  }
  
  .search {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .search input {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }

  .searchButton {
    position: absolute;
    right: 32%;
    top: 2.8%;
    transform: translateY(-50%);
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .sections {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .section {
    margin-left: 20px;
  }
  